#container{
    width: 100%;
    height: 85px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    justify-content: space-between;
    gap: 20%;
    /* position: fixed; */
    position: fixed;
    margin-top: -100px;
    background-color:#ffffff;
    padding-top: 10px;
    /* border: 1px solid red;  */
}
#container>div{
    width: 20%;
    margin-top: 5px;
}
#container>div:nth-child(2){
    width: 60%;
    margin-left: -12%;
    margin-right: 20px;
}
#container>div:nth-child(3){
    width: 25%;
    margin-left: -20%;
} 
.image1{
   width: 110%;
   height: 80px;
   margin-top: -10px;
   cursor: pointer;
}
#category{
   display: flex;
   justify-content: space-around;
   font-weight: 500;
   /* border: 1px solid green; */
}
#category>div{
    cursor: pointer;
    font-size:16px;
    margin-top: 20px;
}
#navend{
   margin-left: -2%;
   display: flex;
   justify-content: space-between;
   gap: 5%;
   margin-right: 1%;
   
}
#navend>div{
    cursor: pointer;
    margin-top: 20px;
}
a{
   text-decoration: none;
    color:black;
}
.signup{
    padding: 12px 30px 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -12px;
    background-color: #BDF300;
    border: none;
    font-weight: 600;
}





